<?xml version="1.0"?>
<!--
  ~ Copyright © Ihor Oleksiienko (https://github.com/torys877)
  ~ See LICENSE for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Crypto_NftLoyalty::nft_loyalty" title="Crypto NFT Loyalty" translate="title" sortOrder="600">
                        <resource id="Crypto_NftLoyalty::nft_items" title="NFT Items" translate="title" sortOrder="10" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
