<?xml version="1.0"?>
<!--
  ~ Copyright © Ihor Oleksiienko (https://github.com/torys877)
  ~ See LICENSE for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="cryptonftloyalty" frontName="cryptonftloyalty">
            <module name="Crypto_NftLoyalty" />
        </route>
    </router>
</config>
